/*RESET CSS---------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*FONTS-------------------------------*/
@font-face {
  font-family: Nivea-bold;
  src: url(./assets/fonts/NiveaBoldOT.ttf)
}

@font-face {
  font-family: Nivea-light;
  src: url(./assets/fonts/NiveaLightOT.ttf)
}

@font-face {
  font-family: Nivea-medium;
  src: url(./assets/fonts/NiveaMediumOT.ttf)
}

@font-face {
  font-family: Nivea-book;
  src: url(./assets/fonts/NiveaBookOT.ttf)
}

/*GENERAL TAGS-------------------------*/

body {
  background-color: #00136f;
  letter-spacing: .03125rem;
}

/*MAIN---------------------------------*/

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 760px;
}

.total-area {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Arial;
  gap: 0 55px;
  margin: auto;
  max-width: 720px;
}

/*SECTIONS------------------------------*/

.text-area {
  display: flex;
  align-content: center;
  justify-content: left;
  height: 100%;
}

.login-area {
  display: flex;
  align-content: center;
  justify-content: left;
  height: 100%;
}

/*SUB-DIV TEXT AREA--------------------*/

.text-area-content {
  width: 600px;
  height: 80%;
  margin-top: 50px;
  color: #fff;
  padding-right: 30px;
}

#title {
  margin: 10px 0;
  font-family: Nivea-bold, Helvetica, sans-serif;
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #fff;
}

#description {
  font-family: 'Open Sans', sans-serif;
  font-family: Open Sans, sans-serif;
  font-size: .875rem;
  line-height: 1.5rem;
}

/*SUB-DIVS LOGIN AREA-------------------*/

/*login wrappers------------------------*/

.login-area-content {

  width: 350px;
  height: 555px;
  background-color: #fff;
  margin-top: 70px;
  border-radius: 8px;

}

.login-form-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 40px;
}

form {
  height: 100%;
}

/*login description---------------------*/

.login-form-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
}

.login-form-description .form-title {
  font-family: Nivea-medium;
  margin-bottom: 25px;
  font-size: 1.250rem;
  line-height: 1.7rem;
  font-weight: 600;
  letter-spacing: .03125rem;
  color: #00136f;
}

.login-form-description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0 0 0 8px;
  line-height: 1.25rem;
  color: #242424;
}

/*login inputs--------------------------*/

.login-form-input-group {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  height: 40%;
}

.login-form-input-group fieldset {
  border: none;
  width: 100%;
}

.login-form-input-group p {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25rem;
  letter-spacing: 0.03125rem;
  color: #242424;

}

.login-form-input-group small {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 8px;
}

.login-form-input-group a {
  text-decoration: none;
  cursor: pointer;
}



.form-span {
  display: flex;
  justify-content: space-between;
}

.form-span a {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  text-align: right;
  margin-top: 40px;
}

.form-span a:hover {
  text-decoration: underline;
}

.login-form-input-group input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  padding: 0 16px;
  min-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.813;
  line-height: 18px;
  color: #7f7f7f;
  border-radius: 500px;
  outline: 0;
}

label .error-msg {
  font-size: 11px;
  margin-left: 15px;
  margin-top: 4px;
  font-style: italic;
  color: #e6af23;
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  visibility: hidden;
}


.signup-now {
  font-size: 10px !important;
  text-align: right;
  margin-top: 10px !important;
  color: #00136f;
}

.signup-now a:hover {
  text-decoration: underline;
  cursor: pointer;
}


/*login buttons-------------------------*/

.login-form-bottons {
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 100%;
  border: none;
  padding: 0 16px;
  min-height: 50px;
  font-family: sans-serif;
  font-size: 0.813;
  font-weight: 600;
  line-height: 18px;
  color: #7f7f7f;
  border-radius: 500px;
  background: #00136f;
  color: #fff;
  cursor: pointer;
  margin: 24px 16px 8px 0;
}

.signup-button {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #00136f;
  padding: 0 16px;
  min-height: 50px;
  font-family: sans-serif;
  font-size: 0.813;
  font-weight: 400;
  line-height: 18px;
  color: #00136f;
  border-radius: 500px;
  background: #fff;
  cursor: pointer;
  margin-top: 2px;
}



/*IMAGES--------------------------------*/

/*BACKGROUND IMAGES*/

picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

#banner {
  width: 100%;
}

/*LOGO*/

.logo-care-shop {
  width: 186px;
  height: 186px;
  margin-top: 60px;
}


/*RESPONSIVIDADE MOBILE --------------------------------*/

/*Screen 292 - 425--------------------------------*/


@media (min-width: 292px) and (max-width: 425px) {

  /*GENERAL*/
  .total-area {
    flex-direction: column-reverse;
    width: 90%;
    margin-top: 80px;
  }

  /*LOGIN*/
  .login-area-content {
    width: 100%;
  }

  .login-form-description .form-title {
    font-size: 1rem;
  }

  .login-form-description p {
    font-size: 12px;
    margin-bottom: 18px;
  }

  /*TEXT*/
  .text-area-content {
    width: 100%;
    height: fit-content;
  }

  .logo-care-shop {
    display: none;

  }

  #title {
    display: none;
  }

  #description {
    font-size: 12px;
    text-align: justify;
    line-height: 14px;
    position: relative;
    top: -30px;
    padding-left: 15px;
  }
}

/*Screen 426 - 620--------------------------------*/

@media (min-width: 426px) and (max-width: 620px) {

  /*GENERAL*/
  .total-area {
    flex-direction: column;
    width: 90%;
    margin-top: 80px;
  }

  /*LOGIN*/
  .login-area-content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .login-form-description .form-title {
    font-size: 1rem;
  }

  .login-form-description p {
    font-size: 12px;
    margin-bottom: 18px;
  }

  /*TEXT*/
  .text-area-content {
    width: 80%;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 0;
    margin: 0 auto;
  }

  /*IMGS*/
  .logo-care-shop {
    width: 186px;
    height: 186px;
    margin-top: 50px;
  }
}

/*Screen 621 - 768--------------------------------*/

@media (min-width: 621px) and (max-width: 768px) {

  /*GENERAL*/
  .total-area {
    width: 90%;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    gap: 0;
    max-width: 600px;
  }

  /*LOGIN*/
  .login-area-content {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    min-width: 220px;
  }

  .login-form-area {
    width: 100%;
    padding: 20px;
  }

  .login-form-description .form-title {
    font-size: 1.2rem;
    text-align: center;
  }

  .login-form-description p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-control:first-child p {
    margin-top: 25px;
  }

  /*TEXT*/
  .text-area-content {
    width: 80%;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 0;
    margin: 0 auto;
  }

  /*IMGS*/
  .logo-care-shop {
    width: 186px;
    height: 186px;
    margin-top: 50px;
  }
}

/*Screen 769 - 1100--------------------------------*/

@media (min-width: 769px) and (max-width: 1100px) {

  /*GENERAL*/
  .total-area {
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    max-width: 720px;
  }

  /*LOGIN*/
  .login-area-content {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    min-width: 351px;
  }

  .login-form-area {
    width: 100%;
    padding: 20px;
  }

  .login-form-description .form-title {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
  }

  .login-form-description p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
  }

  .form-control:first-child p {
    margin-top: 25px;
  }

  /*TEXT*/
  .text-area-content {
    width: 80%;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 0;
    margin: 0 auto;
  }

}